.user{
  position: relative;
}

.detalhe-btn:hover{
  z-index: 3;
  cursor: pointer;
  margin-inline: 1rem;
  width: 90%;
  font-size: 1.35rem;
  background-color: #B6D7A8;
  border: 2px solid #fff;
  color: #fff;
}
.detalhes-img{
  width: 100%;
  height: 15rem;
  object-fit: coverage;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  box-shadow: 0px 14px 17px -10px #0d0d0d;

}
.detalhes{
  width:19%;
  position: fixed;
  right: 13rem;
  bottom: 2.8rem;
  transition: all 2s ease-in-out;
  background-color: #41bed1;
  height: 35rem;
  border-radius: 10px;
  box-shadow: 5px 5px 35px -5px #151515;
  color: #fff;
}

.detalhes-wrapper{
  border-radius: 10px;
}

.detalhe-nomeLugar{
  font-size: 1.4rem;
  color: #0d0d0d;
  font-weight: bolder;
  margin-left: 1rem;
  margin-top: .5rem;
}

.detalhe-valor{
  margin-left: 2rem;
  margin-top: .5rem;
  font-size: 2rem;
}

.detalhe-data{
  margin-left: 2rem;
  font-size: 1.2rem;
}

.detalhe-btn{
  z-index: 3;
  margin-top: .45rem;
  margin-inline: 2rem;
  background-color: #F2A0A0;
  color: #fff;
  width: 80%;
  height: 3rem;
  border-radius: 10px;
  border: none;
  font-size: 1.2rem;
  transition: all 1s;
  font-weight: bolder;
}


.user-wrapper{
  padding-top: 1.5rem;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
}

.logo-h1{
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
}

h1{
  color: #87CAB9;
  padding-left: 1rem;
}

img{
  width: 4rem;
}

.btn-header{
  margin: 1rem 0;
  background-color: #87CAB9;
  color: #fff;
  width: 10%;
  height: 3rem;
  border-radius: 10px;
  border: none;
  font-size: 1.2rem;
  transition: all 1s;
  font-weight: bolder;
}

.btn-header:hover{
  font-size: 1.35rem;
  background-color: #D91E0D;
  color: #fff;

}

.busca-usuario{
  display: flex;
  flex-wrap: wrap;
  position: relative;
}

.usuario{
  color: #41bed1;
  position: absolute;
  right: 0;
  top: 1.5rem;
  transition: all 1s;
}
.usuario:hover{
  color:#00ffee;
  cursor: pointer;
}

.minhas-passagens{
  margin-top: 1rem;
  border-radius: 10px;
  border: 1px solid #fff;
  padding: .5rem;
  color: #fff;
  text-decoration: none;
  transition: all 1s;
}

.minhas-passagens:hover{
  cursor: pointer;
  color: #41bed1;
  border: 1px solid #41bed1;
}

.nav-wrapper{
  margin-top:1.5rem;
  background-color: #020e1e;
  height: 2.5rem;
  border-radius: 10px;
  box-shadow: 0px 14px 34px -9px rgba(0,0,0,0.59);
  display: flex;
}

.label-nav{
  color: #87CAB9;
  padding-left: 1rem;
  padding-top: .5rem;
}

.var-nav{
  color: #fff;
  padding-left: .8rem;
  padding-top: .5rem;
}

.label-nav2{
  color: #87CAB9;
  padding-left: 5rem;
  padding-top: .5rem;
}

select{
  margin-left: 1rem;
  height:2rem;
  margin-top: .3rem;
  background-color: #fff;
  border-radius: 10px;
  color: #0D0D0D;
  width: 15%;
}

.label-nav3{
  color: #87CAB9;
  padding-left: 17.5rem;
  padding-top: .5rem;
}

.date{
  margin-left: 1rem;
  height:2rem;
  margin-top: .3rem;
  border-radius: 10px;
}

.label-nav4{
  color: #87CAB9;
  padding-left: 5rem;
  padding-top: .5rem;
}



.titles{
  margin-top: 1rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  color: #41bed1;
}

.line{
  width: 100%;
  border: 1px solid #87CAB9;
}
.lugares{
  position: relative;
}

.lugares-wrapper{
  width: 72%;
  margin-top: 1.2rem;
  background: #87CAB9;  /* fallback for old browsers */
  height: 7rem;
  border-radius: 10px;
  display: flex;
  align-items:center;
}


.lugar-img{
  height: 100%;
  width: 20%;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
  filter: blur(1px);
  transition: all 1s;
}

.lugar-img:hover{
  filter: blur(0);
}

.lugar-viagem{
  padding-left: 2rem;
  color:#fff;
  font-size: 1.2rem;
}

.valor-viagem{
  position: absolute;
  right: 41rem;
  color:#fff;
  font-size: 1.2rem;
}

.btn-detalhes-viagem{
  background-color: #41bed1;
  color: #fff;
  width: 14%;
  height: 3rem;
  border-radius: 10px;
  border: none;
  font-size: 1.2rem;
  transition: all 1s;
  font-weight: bolder;
  position: absolute;
  right: 25rem;
  /* margin-left: 5rem; */
  transition: all .6s;

}

.btn-detalhes-viagem:hover{
  font-size: 1.3rem;
  box-shadow: 5px 5px 35px -5px #395e64;

}

.btn-blue{
  background-color: #41bed1;
  color: #fff;
}

.btn-cancel{
  background-color: #87CAB9;
  color: #fff;

}

#offcanvasRightLabel{
  font-weight: bolder;
  font-size: 4rem;
  color: #fff;
  font-family: 'Quicksand', cursive;
}

.close-offcanvas{
  background-color: white;
}

.form-edit{
  display: flex;
  align-items: center;
  flex-direction: column;

}

.form-input{
  margin-bottom:1rem;
  border-radius: 10px;
  color: black;
}

.btn-form-edit{
  margin: 1rem 0;
  background-color: #87CAB9;
  color: #fff;
  width: 100%;
  height: 3rem;
  border-radius: 10px;
  border: none;
  font-size: 1.2rem;
  transition: all 1s;
  font-weight: bolder;
}

.btn-form-edit:hover{
  font-size: 1.35rem;
  background-color: #22a6b3;
  color: #fff;
  box-shadow: -5px 0px 26px 2px #000000;
}
.offcanvas{
  background: #1f4037;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #99f2c8, #1f4037);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #99f2c8, #1f4037); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  box-shadow: -5px 0px 26px 2px #000000;
}
